[submodule "zsh/themes/pure"]
	path = zsh/themes/pure
	url = https://github.com/sindresorhus/pure
[submodule "zsh/themes/zsh-syntax-highlighting"]
	path = zsh/themes/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
