priority -50

snippet des "Describe (js)" b
describe('${1:description}', function() {
$0
});
endsnippet

snippet it "it (js)" b
it('should ${1:description}', function(${2:done}) {
$0
});
endsnippet

snippet bef "before each (js)" b
beforeEach(function() {
$0
});
endsnippet

snippet aft "after each (js)" b
afterEach(function() {
$0
});
endsnippet

snippet fail "expect().to.be.ok" b
expect(false).to.be.ok();$0
endsnippet

snippet equal "expect().to.equal" b
expect($1).to.equal($0);
endsnippet

snippet nequal "expect().to.not.equal" b
expect($1).to.not.equal($0);
endsnippet

