priority -50

snippet im "import"
import ${1:name} from '${2:path}';
${VISUAL}$0
endsnippet

snippet => "array function" w
(${1}) => {
  ${2}
};
endsnippet

snippet class "class"
class ${1:name} {
  constructor (${2}) {
    ${3}
  }
  $0
}
endsnippet

snippet forof "for of"
for (let ${1:s} of ${2:sequence}) {
  $0
}
endsnippet
